:root {
  --blue: #33adff;
  --darkBlue: #5b93d7;
  --greyLight: #f5f5f5;
  --grey: #ccc;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media (max-width: 767px) {
  html {
    min-width: 375px;
    overflow: auto;
    font-size: 14px;
  }
}

body {
  background: rgb(var(--color-snow));
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 2.2rem;
  min-height: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
}

p {
  margin: 0;
}

ul,
ol,
li {
  padding: 0;
  list-style: none;
  margin: 0;
}

::selection {
  background-color: #82828230;
}

::-moz-selection {
  background-color: #82828230;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
  background-color: rgba(199, 204, 218, 0.2);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(199, 204, 218, 1);
  border-radius: 3px;
}

::-moz-scrollbar-thumb {
  border-radius: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield;
  /* Firefox */
  width: 5ch;
}

input:invalid {
  border: red solid 8px;
}

a {
  text-decoration: none;
  color: inherit;
}
