$baseColor: #fffafa;
$homeLessonCardBorderColor: #e5e5e5;
$colorSnow: #fffafa;
$rgbColorSwan: 229 229 229;
$rgbColorSnow: 255 250 250;
$lessonItemBorderRadius: 12px;

@mixin fredokaFont {
  font-family: 'Fredoka', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
