@mixin buttonPageSliderBase {
  position: relative;
  height: 2.5rem;
  padding: 1rem;
  &:before {
    content: '';
    position: absolute;
    // z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    left: -2px;
    right: -2px;
    top: -2px;
    bottom: -2px;
  }
}

.buttonPageSliderLeftPrevious {
  @include buttonPageSliderBase;
  &:before {
    background-image: url(data/chevron-left-feather.svg);
  }
}

.buttonPageSliderRightNext {
  @include buttonPageSliderBase;
  &:before {
    background-image: url(data/chevron-right-feather.svg);
  }
}

@mixin buttonPageNumberBase {
  display: inline;
  position: relative;
  height: 2rem;
  width: 2rem;
  margin: 0;
  padding: 0rem 1rem 0rem;
  opacity: 0.5;
  cursor: pointer;
  border: 0;
  &:before {
    content: '';
    position: absolute;
    // z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    left: -2px;
    right: -2px;
    top: -2px;
    bottom: -2px;
  }
}

.buttonPageNumber_1 {
  @include buttonPageNumberBase;
  &:before {
    background-image: url(data/1-circle.svg);
  }
}

.buttonPageNumber_2 {
  @include buttonPageNumberBase;
  &:before {
    background-image: url(data/2-circle.svg);
  }
}

.buttonPageNumber_3 {
  @include buttonPageNumberBase;
  &:before {
    background-image: url(data/3-circle.svg);
  }
}
.buttonPageNumber_4 {
  @include buttonPageNumberBase;
  &:before {
    background-image: url(data/4-circle.svg);
  }
}

.buttonPageNumber_5 {
  @include buttonPageNumberBase;
  &:before {
    background-image: url(data/5-circle.svg);
  }
}

.buttonPageNumber_6 {
  @include buttonPageNumberBase;
  &:before {
    background-image: url(data/6-circle.svg);
  }
}
.buttonPageNumber_7 {
  @include buttonPageNumberBase;
  &:before {
    background-image: url(data/7-circle.svg);
  }
}

.buttonPageNumber_8 {
  @include buttonPageNumberBase;
  &:before {
    background-image: url(data/8-circle.svg);
  }
}

.buttonPageNumber_9 {
  @include buttonPageNumberBase;
  &:before {
    background-image: url(data/9-circle.svg);
  }
}

.buttonPageNumberSelected {
  opacity: 1;
}

@mixin divPageSliderBase {
  display: flex;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
}

.divPageSliderRight {
  @include divPageSliderBase;
  grid-column: 4;
  justify-self: end;
}

.divPageSliderLeft {
  @include divPageSliderBase;
  grid-column: 2;
  justify-self: start;
}
