@use '../../css/shared.scss' as *;

.homeDivOuter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeDivInner {
  align-self: center;
}

.homeDivTitle {
  @include nunitoFont;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.lessonListItem {
  padding-left: 1rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
  height: 14rem;
  width: 16rem;
  --parent-border-color: #e5e5e5;
  border: solid transparent;
  border-radius: 12px;
  border-width: 2px 2px 4px;
  cursor: pointer;
  outline: 0;
  position: relative;
  touch-action: manipulation;
  transform: translateZ(0);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  &::before {
    background-color: var(--color-snow);
    border: 2px solid var(--parent-border-color);
    border-radius: 12px;
    bottom: -2px;
    box-shadow: 0 2px 0 var(--parent-border-color);
    content: '';
    left: -2px;
    position: absolute;
    right: -2px;
    top: -2px;
    z-index: -1;
  }
}

// Animation styles
//
.animationOuterDiv {
  height: 15rem;
  width: 40rem;
  background-color: #e5e5e530;
  margin-bottom: 2rem;
  position: relative;
}

.buttonHolderDiv {
  position: absolute;
}

.buttonPlayPause {
  height: 0.6rem;
  position: absolute;
}

.textBlockOuterDiv {
  position: absolute;
  // height: 0rem;
  // width: 0rem;
  overflow: hidden;
  border: grey dashed 1px;
}
